---
import ServiceCard from "../components/ServiceCard.astro";
import Layout from "../layouts/Base.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("services").then((p) =>
  p.sort((a, b) => (a.data.order || 0) - (b.data.order || 0))
);
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<Layout title="Home" heroImage="/placeholder-about.jpg">
  <!-- ====== Hero Section Start -->
  <div
    id="home"
    class="banner"
    style="background-image: url(/images/banner.jpg)"
  >
    <div class="banner-text">
      {SITE_DESCRIPTION}
    </div>
  </div>
  <!-- ====== Hero Section End -->

  <!-- ====== About Section Start -->
  <!--   <section id="about" class="pt-20 lg:pt-[120px] pb-8 lg:pb-[70px]">
    <div class="container">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full px-4">
          <div class="mb-12 lg:mb-20">
            <h2 class="font-normal text-2xl sm:text-3xl text-dark mb-4">
              How can our services benefit you?
            </h2>

            <div
              class="bg-white mb-12 group wow fadeInUp text-body-color"
              data-wow-delay=".1s"
            >
              <p class="text-md sm:text-xl mb-4">
                We all are curious about ourselves and seek insights and
                guidance for our greater good.
              </p>
              <p class="text-md sm:text-xl mb-4">
                <strong class="title">Punarnirmana</strong> is a way to look into
                yourself very deeply. Just like we all have memories, in a higher
                dimensional sense we all have records of everything we have lived,
                loved, thought, felt and expressed ourselves as since our very creation
                or will express ourselves in the future.
              </p>
              <p class="text-md sm:text-xl mb-4">
                At <strong class="title">Punarnirmana</strong>, the
                <em>Akashic Records</em> are accessed, to tap into, transform and
                clear away stuff which does not serve you well or which might be
                creating blocks or making you repeatedly go in karmic loops. If you
                are just curious to know yourself at a much deeper level or are facing
                problems which do not seem to add up or are going through repeated
                relationship issues or career blocks, having problems manifesting
                money or true love, you might wish to seek connect with
                <strong class="title">Punarnirmana</strong>.
              </p>
              <p class="text-md sm:text-xl mb-4">
                At <strong class="title">Punarnirmana</strong>,
                <em>Akashic Records</em>
                are the key to tap into the biggest library we have heard of thus
                far to help seek guidance and insights into your queries and help
                you clear what needs to be cleared for your Highest Good.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- ====== About Section End -->

  <!-- ====== Knowledge Section Start -->
  <section
    id="about"
    class="pt-20 lg:pt-[120px] pb-20 lg:pb-[120px] bg-primary bg-opacity-20"
  >
    <div class="container">
      <div class="bg-white wow fadeInUp" data-wow-delay=".2s">
        <div class="flex flex-wrap -mx-4">
          <div class="w-full px-4">
            <div
              class="lg:flex items-center justify-between border overflow-hidden"
            >
              <div
                class="w-full py-12 px-7 sm:px-12 md:p-16 lg:py-9 lg:px-16 xl:p-[70px]"
              >
                <h2 class="font-normal text-2xl text-dark mb-6">
                  Energy Healing and Akashic Records Insights
                </h2>

                <p>
                  Energy healing is an ancient practice that has been used for
                  centuries to promote balance and healing in the body, mind,
                  and soul.
                </p>
                <p>
                  The process of energy healing involves working with your own
                  energy field, as well as the energies around you. This can
                  include things such as chakras, auras, and other vibrational
                  frequencies. One of the most powerful tools in energy healing
                  is the Akashic Records insights. This is an ancient tool that
                  can be used to gain insight into your own spiritual path and
                  heal any blockages or imbalances in your energy field.
                </p>
                <p>
                  If you're looking to gain insight, clarity, and a deeper
                  understanding of your journey with greater success and taking
                  your personal healing to the next level find the services
                  offered.
                </p>
                <strong class="title">Punarnirmana</strong> is all about aligning
                with oneself: Who are you really? What do you truly aspire for? How
                will you find most fulfillment? What is blocking you from abundance,
                good health, love or success? Basically,
                <strong class="title">Punarnirmana</strong> is all about knowing
                who you are so that you can become 'Authentically You'.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== Knowledge Section End -->

  <!-- ====== Services Section Start -->
  <section id="services" class="pt-20 lg:pt-[120px] pb-8 lg:pb-[70px]">
    <div class="container">
      <h2 class="font-normal text-2xl text-dark mb-16">
        Readings and Hearings
      </h2>
      <div class="flex flex-wrap -mx-4">
        {
          posts.map((post) => (
            <>
              <ServiceCard
                title={post.data.title}
                description={post.data.description}
                link={`/services/${post.slug}/`}
              />
            </>
          ))
        }
      </div>
    </div>
  </section>
  <!-- ====== Services Section End -->
</Layout>
