---
import ServiceCard from "../components/ServiceCard.astro";
import Layout from "../layouts/Base.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("services");
---

<Layout title="Home" heroImage="/placeholder-about.jpg">
  <!-- ====== Hero Section Start -->
  <div
    id="home"
    class="relative pt-[120px] md:pt-[90px] lg:pt-[120px] md:pb-[320px] lg:pb-[360px] bg-cover bg-no-repeat bg-bottom"
    style="background-image: url(/images/hero.jpg)"
  >
    <div class="container pb-8">
      <div class="flex flex-wrap items-center -mx-4">
        <div class="w-full px-4">
          <div
            class="hero-content bg-dark/75 p-8 text-center max-w-[960px] mx-auto wow fadeInU"
            data-wow-delay=".2s"
          >
            <h1
              class="text-white font-normal text-2xl sm:text-3xl leading-snug sm:leading-snug md:leading-snug mb-8"
            >
              Welcome
            </h1>
            <p
              class="text-base sm:text-lg sm:leading-relaxed md:text-xl md:leading-relaxed mx-auto mb-10 text-[#e4e4e4] max-w-[780px]"
            >
              <strong class="title">Punarnirmana</strong> is all about aligning with
              oneself: Who are you really? What do you truly aspire for? How will
              you find most fulfillment? What is blocking you from abundance, good
              health, love or success? Basically,
              <strong class="title">Punarnirmana</strong> is all about knowing who
              you are so that you can become 'Authentically You'.
            </p>
            <p
              class="text-base sm:text-lg sm:leading-relaxed md:text-xl md:leading-relaxed mx-auto mb-10 text-[#e4e4e4] max-w-[780px]"
            >
              Many people go through their life as if walking on carpet grass.
              For them Life is based on social or moral codes crafted by other
              people, cheat codes other people have curated and landmark events
              and standards globally acclaimed. Incidentally, in the life of
              such individuals, there is one major ingredient missing, and that
              ingredient is 'they themselves'.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ====== Hero Section End -->

  <!-- ====== About Section Start -->
  <section id="about" class="pt-20 lg:pt-[120px] pb-8 lg:pb-[70px]">
    <div class="container">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full px-4">
          <div class="mb-12 lg:mb-20">
            <!--             <span class="font-semibold text-lg text-primary mb-2 block">
              Services
            </span> -->
            <h2 class="font-normal text-2xl sm:text-3xl text-dark mb-4">
              How can our services benefit you?
            </h2>

            <div
              class="bg-white mb-12 group wow fadeInUp text-body-color"
              data-wow-delay=".1s"
            >
              <p class="text-md sm:text-xl mb-4">
                We all are curious about ourselves and seek insights and
                guidance for our greater good.
              </p>
              <p class="text-md sm:text-xl mb-4">
                <strong class="title">Punarnirmana</strong> is a way to look into
                yourself very deeply. Just like we all have memories, in a higher
                dimensional sense we all have records of everything we have lived,
                loved, thought, felt and expressed ourselves as since our very creation
                or will express ourselves in the future.
              </p>
              <p class="text-md sm:text-xl mb-4">
                At <strong class="title">Punarnirmana</strong>, the
                <em>Akashic Records</em> are accessed, to tap into, transform and
                clear away stuff which does not serve you well or which might be
                creating blocks or making you repeatedly go in karmic loops. If you
                are just curious to know yourself at a much deeper level or are facing
                problems which do not seem to add up or are going through repeated
                relationship issues or career blocks, having problems manifesting
                money or true love, you might wish to seek connect with
                <strong class="title">Punarnirmana</strong>.
              </p>
              <p class="text-md sm:text-xl mb-4">
                At <strong class="title">Punarnirmana</strong>,
                <em>Akashic Records</em>
                are the key to tap into the biggest library we have heard of thus
                far to help seek guidance and insights into your queries and help
                you clear what needs to be cleared for your Highest Good.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== About Section End -->

  <!-- ====== Knowledge Section Start -->
  <section
    id="knowledge"
    class="pt-20 lg:pt-[120px] pb-20 lg:pb-[120px] bg-primary bg-opacity-20"
  >
    <div class="container">
      <div class="bg-white wow fadeInUp" data-wow-delay=".2s">
        <div class="flex flex-wrap -mx-4">
          <div class="w-full px-4">
            <div
              class="lg:flex items-center justify-between border overflow-hidden"
            >
              <div
                class="lg:max-w-[565px] xl:max-w-[640px] w-full py-12 px-7 sm:px-12 md:p-16 lg:py-9 lg:px-16 xl:p-[70px]"
              >
                <!--                 <span class="text-sm font-medium text-white py-2 px-5 bg-primary inline-block mb-5">
                  Knowledge
                </span> -->
                <h2 class="font-normal text-2xl text-dark mb-6">
                  What are the <em>Akashic Records</em>?
                </h2>
                <p class="text-base text-body-color mb-9 leading-relaxed">
                  <em>Akashic Records</em> are a collective database of all the universes
                  co-existing simultaneously. The
                  <em>Akashic Records</em> contain All the information about you
                  as well. Past, present and future all co-exist in the
                  <em>Akashic Records</em> therefore any guidance can be sought from
                  them.
                </p>
              </div>
              <div class="text-center">
                <div class="relative inline-block z-10">
                  <img
                    src="/images/about.jpg"
                    alt="image"
                    class="mx-auto lg:ml-auto"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== Knowledge Section End -->

  <!-- ====== Services Section Start -->
  <section id="services" class="pt-20 lg:pt-[120px] pb-8 lg:pb-[70px]">
    <div class="container">
      <h2 class="font-normal text-2xl text-dark mb-16">
        What are the services we provide?
      </h2>
      <div class="flex flex-wrap -mx-4">
        {
          posts.map((post) => (
            <>
              <ServiceCard
                title={post.data.title}
                description={post.data.description}
                link={`/services/${post.slug}/`}
              />
            </>
          ))
        }
      </div>
    </div>
  </section>
  <!-- ====== Services Section End -->
</Layout>
