---
import ServiceCard from "../components/ServiceCard.astro";
import Layout from "../layouts/Base.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("services").then((p) =>
  p.sort((a, b) => (a.data.order || 0) - (b.data.order || 0))
);
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<Layout title="Home" heroImage="/placeholder-about.jpg">
  <!-- ====== Hero Section Start -->
  <div
    id="home"
    class="bg-[#5d3706] aspect-[4/5] sm:aspect-video md:aspect-[21/9] bg-cover md:bg-contain relative bg-center bg-no-repeat"
    style="background-image: url(/images/banner.jpg)"
  >
    <div
      class="banner-text absolute text-center w-full text-[#ffde59] text-2xl sm:text-3xl top-3/4 mt-8 lg:mt-6"
    >
      {SITE_DESCRIPTION}
    </div>
  </div>
  <!-- ====== Hero Section End -->

  <section id="about" class="bg-primary bg-opacity-10">
    <div class="container p-8 sm:p-20 mx-auto max-w-6xl">
      <div class="wow fadeInUp esProse" data-wow-delay=".2s">
        <h2 class="text-2xl mb-6">
          Energy Healing and Akashic Records Insights
        </h2>

        <p>
          Energy healing is an ancient practice that has been used for centuries
          to promote balance and healing in the body, mind, and soul.
        </p>
        <p>
          The process of energy healing involves working with your own energy
          field, as well as the energies around you. This can include things
          such as chakras, auras, and other vibrational frequencies. One of the
          most powerful tools in energy healing is the Akashic Records insights.
          This is an ancient tool that can be used to gain insight into your own
          spiritual path and heal any blockages or imbalances in your energy
          field.
        </p>
        <p>
          If you're looking to gain insight, clarity, and a deeper understanding
          of your journey with greater success and taking your personal healing
          to the next level check the services offered.
        </p>
      </div>
    </div>
  </section>
  <!-- ====== Knowledge Section End -->

  <!-- ====== Services Section Start -->
  <section id="services">
    <div class="container mx-auto p-8 sm:p-20 max-w-3xl lg:max-w-5xl">
      <h2 class="text-2xl mb-8">Readings and Healings</h2>
      <div class="flex flex-wrap -mx-4">
        {
          posts.map((post) => (
            <>
              <ServiceCard
                title={post.data.title}
                description={post.data.description}
                link={`/services/${post.slug}/`}
              />
            </>
          ))
        }
      </div>
    </div>
  </section>
  <!-- ====== Services Section End -->
</Layout>
