---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<li class="relative group">
  <a
    href={href}
    class:list={[
      className,
      "ud-menu-scroll text-base text-dark lg:text-grey-700 lg:group-hover:text-grey-700 group-hover:text-dark py-2 lg:py-6 lg:inline-flex lg:px-0 flex mx-8 lg:mr-0",
      { active: isActive },
    ]}
    {...props}
  >
    <slot />
  </a>
</li>
