---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <!-- head -->
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-ZKZB74VSEH"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-ZKZB74VSEH");
    </script>
    <!-- more head -->
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <slot />
    </main>
    <Footer />

    <script src="/js/wow.min.js" is:inline></script>
    <script src="/js/main.js" is:inline></script>
  </body>
</html>
