---
import Layout from "./Base.astro";
const { title, pageTitle, subTitle } = Astro.props;
---

<Layout>
  <!-- ====== Banner Section Start -->
  <div
    class="relative z-1 pt-[120px] md:pt-[130px] lg:pt-[160px] pb-[100px] bg-gradient-to-r from-dark to-primary overflow-hidden"
  >
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-full px-4">
          <div class="text-center">
            <h2 class="font-semibold text-white text-lg sm:text-xl uppercase">
              <em>{title}</em>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div>
      <span class="absolute top-0 left-0 z-[-1]">
        <svg
          width="495"
          height="470"
          viewBox="0 0 495 470"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            cx="55"
            cy="442"
            r="138"
            stroke="white"
            stroke-opacity="0.04"
            stroke-width="50"></circle>
          <circle
            cx="446"
            r="39"
            stroke="white"
            stroke-opacity="0.04"
            stroke-width="20"></circle>
          <path
            d="M245.406 137.609L233.985 94.9852L276.609 106.406L245.406 137.609Z"
            stroke="white"
            stroke-opacity="0.08"
            stroke-width="12"></path>
        </svg>
      </span>
      <span class="absolute top-0 right-0 z-[-1]">
        <svg
          width="493"
          height="470"
          viewBox="0 0 493 470"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            cx="462"
            cy="5"
            r="138"
            stroke="white"
            stroke-opacity="0.04"
            stroke-width="50"></circle>
          <circle
            cx="49"
            cy="470"
            r="39"
            stroke="white"
            stroke-opacity="0.04"
            stroke-width="20"></circle>
          <path
            d="M222.393 226.701L272.808 213.192L259.299 263.607L222.393 226.701Z"
            stroke="white"
            stroke-opacity="0.06"
            stroke-width="13"></path>
        </svg>
      </span>
    </div>
  </div>
  <!-- ====== Banner Section End -->

  <!-- ====== About Section Start -->
  <section
    id="about"
    class="sm:p-20 lg:pt-[120px] lg:pb-[120px] bg-primary bg-opacity-5 bg-cover"
    style="background-image: url(/images/about.jpg)"
  >
    <div class="container mx-auto">
      <div class="bg-white bg-opacity-90 wow fadeInUp" data-wow-delay=".2s">
        <div class="flex flex-wrap -mx-4">
          <div class="w-full px-4">
            <div
              class="lg:flex items-center justify-between border overflow-hidden"
            >
              <div
                class="w-full py-12 px-7 sm:px-12 md:p-16 lg:py-9 lg:px-16 xl:p-[70px]"
              >
                <h2 class="text-2xl sm:text-2xl sm:leading-snug text-dark mb-6">
                  {pageTitle ?? title}<br />
                  <small>{subTitle}</small>
                </h2>
                <slot />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== About Section End -->
</Layout>
